<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
          border: 1px solid black;
          padding: 8px;

          max-width: 200px;
          word-break; break-all;

          white-space: nowrap;
          overflow: hidden;
          test-overflow: ellipsis;
      }
    </style>
</head>
<body>
    <h1>회원 목록</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>이메일</th>
            <th>선호장르</th>
            <th>선호가수</th>
            <th>선호제목</th>
            <th>권한</th>
            <!-- 추가 필드가 있다면 여기에 추가 -->
        </tr>
        </thead>
        <tbody>
        <!-- 회원 데이터를 순회하며 테이블에 추가 -->
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.preference_Genre}"></td>
            <td th:text="${member.preference_Singer}"></td>
            <td th:text="${member.preference_Title}"></td>
            <td th:text="${member.role}"></td>
            <!-- 추가 필드가 있다면 여기에 추가 -->
        </tr>
        </tbody>
    </table>
</body>
</html>